<div class="signin_form">
  <h2 class="first_color">Sign in</h2>
  
  <div class="form-small">
    <%= form_for(:session, url: signin_path) do |f| %> 
      <%= f.email_field :email, :placeholder => "E-mail" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Log in", class: "form-btn" %>
    <% end %>
  </div>
</div>

