<div>
  <h1>
    <span class="first_color">Track</span>
    <span>Your Dog's</span>
    <span class="second_color">Training</span>
    <span class="third_color">Progress</span>
  </h1>
  
  <div>
    <%= image_tag("paw_prints.png", alt: "Pawprints", width: 400, height: 40) %>
  </div>

  <p>Help your furry friend learn new tricks and track<br>their progress in one playful place</p>

  <div>
    <%= image_tag("happy_dog.png", alt: "Dog running through grass", width: 600, height: 400) %>
  </div>
</div>
