<div class="center">

  <h1>
    <span class="first_color">Track</span>
    <span class="black">Your Dog's</span>
    <span class="second_color">Training</span>
    <span class="third_color">Progress</span>
  </h1>
  <br>
  <%= image_tag("paw_prints.png", alt: "Pawprints", width: 400, height: 40) %>

  <p>Help your furry friend learn new tricks and track<br>their progress in one playful place</p>
</div>

<div class="center">
  <%= image_tag("happy_dog.png", alt: "Dog running through grass", width: 600, height: 400) %>
</div>

