<div>
  <h1>
    <span class="first-color">Track</span>
    <span>Your Dog's</span>
    <span class="second-color">Training</span>
    <span class="third-color">Progress</span>
  </h1>
  
  <div>
    <%= image_tag("paw_prints.png", alt: "Pawprints", width: 400, height: 40) %>
  </div>

  <h4>Help your furry friend learn new tricks and track<br>their progress in one playful place</h4>

  <div>
    <%= image_tag("happy_dog.png", alt: "Dog running through grass", width: 600, height: 400) %>
  </div>

  <nav>
    <% if !current_user %>
      <%= link_to "sign in", signin_path, class: "button small-btn" %>
    <% end %>
  </nav>
  
</div>
