<%= image_tag("dog_hoop_img.png", alt: "Dog jumping through hoop") %>

<h1 class="title">Welcome!</h1>

<p>Here are a list of tricks you can do with your dog:<br>

<ul>
  <li>Sit</li>
  <li>Stay</li>
  <li>Beg</li>
  <li>Spin</li>
  <li>Twist</li>
  <li>Roll over</li>
</ul>

