:root {
  --second-color: #C96868;
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(206, 206, 223, 0.1);

}

header {
  /* background-color: rgb(248 253 252); */
  background-color:rgb(156 167 211 / 10%);
  padding: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav a {
  color: var(--second-color);
  margin-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  font-size: 40px;
  margin: 0;
  font-style: italic;
}

h1 {
  font-size: 40px;
  margin: 0;
}

main {
  padding: 2rem 4rem; /*padding-top 2rem, left and right 4rem */
}

.first_color {
  color: #7EACB5;
}

.second_color {
  color: var(--second-color);
}

.third_color {
  color: #e9ba4c;
}

.black {
  color: black;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

p {
  margin: 1rem;
  text-align: center;
  font-size: 30px;
}

.center {
  text-align: center;
}

.rotate_45 {
  transform: rotate(90deg);
}

table {
  width: 100%;
  border-collapse: collapse; 
}

table, th, td {
  border: 2px solid var(--second-color); 
}

.first_column {
  padding-left: 1rem;
}

.completed {
  text-align: center;
}